doctype html
html
  head
    meta(charset='UTF-8')
    title ChatExpress
    link(rel='stylesheet', href='/css/room/normalize.css')
    link(rel='stylesheet', href='/css/room/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
  body
    .ui
      .left-menu
        .dropdown
          #profileDropdown.dropdown-content
            a(href='/login/destroy') Logout
          menu.list-friends
      .chat
        .top
          .avatar
            img(width='50', height='50', src='./images/socketio.png')
          .info
            .name Public room 1
            .count
              | There are
              span.userCount
              |  people connected to ChatExpress.
          i.fa.fa-star
        ul.messages
        .write-form
          textarea#texxt(placeholder='Type your message', name='e', rows='2')
          span.send Send
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js')
    script(src='/js/room/jquery-ui.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
    script(src='/js/room/moment.js')
    script(src='/js/room/index.js')
