html
    head
        title Register - ChatExpress
        meta(charset='utf-8')
        meta(http-equiv='Content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/css/login/style.css')
    body
        hgroup
            h1 Welcome to ChatExpress
            h3 Let's get you registrated. We only need your new username and password.
            h4
                a(href='/login') Already have account? Click here
        form(method='POST', action='/register')
            .group
                input(type='text',name='username',required='')
                span.highlight
                span.bar
                label Username
            .group
                input(type='password',name='password',required='')
                span.highlight
                span.bar
                label Password
            .group
                input(type='password',name='password2',required='')
                span.highlight
                span.bar
                label Verify password
            button.button.buttonBlue(type='submit', id="join")
                | Register
                .ripples.buttonRipples
                    span.ripplesCircle
        footer
            a(href='https://socket.io/', target='_blank')
                img(src='/images/socket_io.png')
            p
                | Proudly powered by full stack JavaScript.

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/socket.io/socket.io.js')
